/* cards-quiz styles */


/* use css-reset here */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body {
 line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}

nav ul {
 list-style:none;
}

blockquote, q {
 quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}

a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

/* change colors to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}

/* change colors to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}

del {
 text-decoration: line-through;
}

abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}

table {
 border-collapse:collapse;
 border-spacing:0;
}

/* change border color to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #ccc;
 margin:1em 0;
 padding:0;
}

input, select {
 vertical-align:middle;
}


/* =====================   HOMEGROWN styles below ======================= */
/* Author: Bonnie Lynne Hoffman */
/* Copyright: 2019 */


/* recommended to improve accessibility across browsers */
@-ms-viewport{ width: device-width; }


/* media="all" styles below */

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.5;
  font: 1.75em/1.5em sans-serif;
}

header {
   text-align: center;
   width: 60%;
   margin: 2rem auto 0 auto;
   padding: 1rem;
   background-color: #9cf;
}

#main {
   width: 60%;
   margin: auto;
   /* margin-bottom: 2rem; */
   /* padding: 0.4rem; */
   background-color: #9cf;
}

div.crd {
    width: 50%;
    margin: 8rem auto;
    border: solid 1px #036;
    background-color: #fff;
}

.term {
    font-weight: bold;
    padding: 1rem;
}

.def {
    font-style: italic;
    padding: 1rem;   
}
